
html{
    background-color: black;
}

nav{
    width: 10%;
    background-color: #707070;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    
}

nav img{
    width: 100%;
}

.block{
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.block-1{
   padding-bottom: 100px;
}
.block-1 img{
    padding-top: 10px;
    padding-bottom: 20px;
}

.block-2{
    padding-bottom: 100px;
}
.block-2 img{
    padding-top: 10px;
    padding-bottom: 20px;
}

.block-3{
    padding-bottom: 100px;
}
.block-3 img{
    padding-top: 10px;
    padding-bottom: 20px;
}

.about-me{
    color: aliceblue;
    background-color: black;

}


 
